<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouyaheydari.training.sematec.android.basic.mehr00">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasicMehr00">
        <activity
            android:name=".TestViewPagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".TestFragmentActivity"
            android:exported="true"></activity>
        <activity
            android:name=".TestDatabaseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".TestGlideActivity"
            android:exported="true" />
        <activity
            android:name=".TestAsyncHttpConnectionActivity"
            android:exported="true" />
        <activity
            android:name=".TestHttpUrlConnectionActivity"
            android:exported="true" />
        <activity
            android:name=".TestRecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".TestHandlerActivity"
            android:exported="true" />
        <activity
            android:name=".TestPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".TestMenuActivity"
            android:exported="true" />
        <activity
            android:name=".TestAlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".TestNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".TestSharedPreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".TestDialogActivity"
            android:exported="true" />
        <activity
            android:name=".TestImplicitIntentActivity"
            android:exported="true" />
        <activity
            android:name=".TestTextViewActivity"
            android:exported="true">

            <!-- android:theme="@style/Theme.AppCompat.Light.Dialog" -->

        </activity>
        <activity
            android:name=".TestVideoViewActivity"
            android:exported="true" />
        <activity
            android:name=".TestDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".TestWebViewActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service android:name=".TestService" />

        <receiver android:name=".TestBroadcastReceiver" />
    </application>

</manifest>